@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
